{% from "_render_field.html" import render_txt_field %}
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_txt_field(form.username, placeholder=form.username.label.text) }}
        {{ render_txt_field(form.email, placeholder=form.email.label.text) }}
        {{ render_txt_field(form.password, placeholder=form.password.label.text) }}
        {{ render_txt_field(form.password2, placeholder=form.password2.label.text) }}

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div><!-- /.container -->
{% endblock %}