{% from "_render_field.html" import render_txt_field, render_Select_field, render_incrementor_field, render_incrementor_script, render_txtarea_field %}

{% extends "base.html" %}

{% block head %}


{% endblock %}

{% block content %}
<div class="container">
    <h1>Stand Scout</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ render_Select_field(form.event) }}
         <div class="form-group">{{ form.matchTimeFilter() }} {{ form.matchTimeFilter.label }}</div>
        {{ render_Select_field(form.match) }}
        {{ render_Select_field(form.team) }}
        <hr>
        <!-- Sandstorm data-->
        {{ render_Select_field(form.SS_StartLevel) }}
        <div class="form-group">{{ form.SS_LeftPlatform() }} {{ form.SS_LeftPlatform.label }}</div>
        {{ render_incrementor_field(form.SS_HatchesPlaced) }}
        {{ render_incrementor_field(form.SS_CargoPlaced) }}

        <hr>
        <!-- Teleop data-->
        <div class="form-group">{{ form.TO_LeftPlatform() }} {{ form.TO_LeftPlatform.label }}</div>
        {{ render_incrementor_field(form.TO_HatchesPlaced) }}
        {{ render_incrementor_field(form.TO_CargoPlaced) }}
        <hr>
        {{ render_Select_field(form.EG_ClimbLevel) }}

        <hr>
        {{ render_incrementor_field(form.DroppedHatches) }}
        {{ render_incrementor_field(form.DroppedBalls) }}
        {{ render_incrementor_field(form.PanelFloorPickup) }}

        <!-- General data-->
        {{ render_incrementor_field(form.Penalties) }}
        {{ render_Select_field(form.HighestPlacement) }}
        {{ render_txtarea_field(form.Notes) }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div><!-- /.container -->
{% endblock %}

{% block scripts %}
{{ render_incrementor_script() }}
<script>
    let event_select = document.getElementById('{{ form.event.name }}');
    let match_select = document.getElementById('{{ form.match.name }}');
    let team_select = document.getElementById('{{ form.team.name }}');
    let timeFilter = document.getElementById('{{ form.matchTimeFilter.name }}');

    timeFilter.onchange = function() {
        event_id = event_select.value;

        fetch('/StandScout/matches?event_id=' + event_id+'&timeFilter='+timeFilter.checked).then(function(response) {
            response.json().then(function(data) {
                let OptionHTML = '';

                for(let match of data.matches){
                    OptionHTML += '<option value="'+match.id+'">'+match.name+'</option>';

                }

                match_select.innerHTML = OptionHTML;
                match_id = match_select.value;

                fetch('/StandScout/teams?match_id=' + match_id).then(function(response) {
                    response.json().then(function(data) {
                        let OptionHTML = '';

                        for(let team of data.teams){
                            OptionHTML += '<option value="'+team.id+'">'+team.name+'</option>';
                        }

                        team_select.innerHTML = OptionHTML;
                    });
                });
            });

        });
    }

    event_select.onchange = function() {
        event_id = event_select.value;

        fetch('/StandScout/matches?event_id=' + event_id+'&timeFilter='+timeFilter.checked).then(function(response) {
            response.json().then(function(data) {
                let OptionHTML = '';

                for(let match of data.matches){
                    OptionHTML += '<option value="'+match.id+'">'+match.name+'</option>';

                }

                match_select.innerHTML = OptionHTML;
                match_id = match_select.value;

                fetch('/StandScout/teams?match_id=' + match_id).then(function(response) {
                    response.json().then(function(data) {
                        let OptionHTML = '';

                        for(let team of data.teams){
                            OptionHTML += '<option value="'+team.id+'">'+team.name+'</option>';
                        }

                        team_select.innerHTML = OptionHTML;
                    });
                });
            });

        });
    }
    onload = function() {
        event_id = event_select.value;
        let firstMatchId = -1;

        fetch('/StandScout/matches?event_id=' + event_id+'&timeFilter='+timeFilter.checked).then(function(response) {
            response.json().then(function(data) {
                let OptionHTML = '';

                for(let match of data.matches){
                    OptionHTML += '<option value="'+match.id+'">'+match.name+'</option>';
                    if(firstMatchId == -1){
                        firstMatchId = match.id;
                    }
                }
                match_select.innerHTML = OptionHTML;
                match_id = match_select.value;

                fetch('/StandScout/teams?match_id=' + match_id).then(function(response) {
                    response.json().then(function(data) {
                        let OptionHTML = '';

                        for(let team of data.teams){
                            OptionHTML += '<option value="'+team.id+'">'+team.name+'</option>';
                        }

                        team_select.innerHTML = OptionHTML;
                    });
                });
            });
        });
    }

    match_select.onchange = function() {
        match_id = match_select.value;

        fetch('/StandScout/teams?match_id=' + match_id).then(function(response) {
            response.json().then(function(data) {
                let OptionHTML = '';

                for(let team of data.teams){
                    OptionHTML += '<option value='+team.id+'>'+team.name+'</option>';
                }

                team_select.innerHTML = OptionHTML;
            });

        });
    }


</script>

{% endblock %}
